@page
@using ApiCallDotNet.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if(!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h1 class="text-danger">@Model.ErrorMessage</h1>
}

@if(Model.Users != null && Model.Users.Any())
{
    @foreach(User user in Model.Users)
    {
        <h1>@user.FirstName</h1>
        <h2>@user.LastName</h2>
    }
}